*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-green-felt-casino-table_266732-23795.jpg?w=2000');
    background-repeat: repeat;
    background-size: cover;
}

.dealer, .player {
    display:flex;
    justify-content:center;
}
.dealer{
    margin: 30px 0;
}

.card {
    border-radius:15px;
    border: 1px solid black;
    background-color: rgb(250, 231, 206);
    position:relative;
    height:220px;
    width:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:7rem;
    margin:5px;
    z-index: 900;
}

.card::before, .card::after {
    position:absolute;
    content:attr(value);
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}
.card::before{
    top: 0.5rem;
    left: 0.5rem;
}

.card::after{
    bottom: 0.5rem;
    right: 0.5rem;
    transform: rotate(180deg)
}

.black-card{
    color:black;
}
.red-card{
    color:red;
}


.face-down{
    margin:5px 5px 15px 5px;
    padding:5px;
    height:220px;
    width:150px;
    background-image: url('../img/cardback.png');
    background-size:  195px 265px;
    background-position: -20px -20px;
    background-repeat: no-repeat;
    background-color: green;
    border: 1px solid black;
    border-radius: 10px;
}

.resources {
    padding: 0 px;
    margin: 0 auto;
    text-align: center; 
    display: grid;
    grid-template-columns: 9fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title rules book";
    opacity: 1;
}


h1{
    grid-area: title;
    text-align: left;
    margin: 10px 10px 10px 20px;
    font-family: 'Roboto Mono', monospace;
    border-bottom:5px solid black;
    padding: 0px;
}

.rulediv{
    grid-area: rules;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookdiv{
    grid-area: book;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newDeal{
    margin: 10px auto;
    text-align: center;
    
}

.buttons{
    margin: 10px auto;
    height:40px;
    width: 400px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:    "one two three four";

}

.hit{
    grid-area: one
}
.stand{
    grid-area: two
}
.double{
    grid-area: three
}
.split{
    grid-area: four
}

.action{
    margin: 0 auto;
    height: 38px;
    width: 80px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    
}

.results-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:    "an"
                            "st"
                            "bu";
    text-align: center;
    margin:0 auto;
    border: 1px solid black;
    border-radius: 5px;
    height: 150px;
    width:500px;
    background-color: antiquewhite;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
.analysis{
    margin:20px auto 0px auto;
    grid-area: an;
}

.statistics {
    grid-area: st;
}
.resetStat{
    grid-area: bu;
    margin: 0 auto;
    height: 35px;
    width: 74px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.book-modal-container {
    background-color:rgba(0,0,0.0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity:0;
    pointer-events: none;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.book-modal-container.show {
    pointer-events:auto;
    opacity: 1;
    background: rgba(162, 156, 156, .5);
}
.book-modal {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: 660px;
    max-width:100%;
    opacity: 1;
}
.book-modal h1{
    margin:0;
}

.stratcontainer{
    display:flex;
    align-items: center;
}

.basicStrategy {
    height: 570px;
    width: 330px;
    background-image: url('../img/thebook.png');
    background-size: 250px 550px;
    background-repeat: no-repeat;

}


.key {
    margin:0 0 0 -75px;
    height:190px;
    width:300px;
    background-image: url('../img/key.png');
    background-size: 300px 150px;
    background-repeat: no-repeat;
    object-fit: contain;
}

.modal-container {
    background-color:rgba(0,0,0.0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity:0;
    pointer-events: none;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.modal-container.show{
    pointer-events:auto;
    opacity: 1;
    background: rgba(162, 156, 156, .5);
}

.modal {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: 600px;
    max-width:100%;
    opacity: 1;
    
}

.modal h1{
    margin:0;
}

.modal p{
    font-size: 14px;
    opacity: 1;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
}

button:hover{
    background-color: rgb(196, 193, 193);
}

.new:hover{
    background-color: rgb(122, 223, 128);
}